body,html{
	margin:0;
	padding:0;
	font-family: Consolas, monaco, monospace;
}
#wrap{
	margin:0px;
	padding:0px;
}

#head{
	width:100%;
	height:auto;
	background:#CADDEE;
	padding-bottom:0.6%;
	padding-top:1%;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	position:relative;
	border-bottom: 6px solid;
	border-color: #C1D3EB;
}

#meat{

}
#foot{
	bottom:0;
	position:fixed;
}

#head,#form-wrapper{
	text-align: center
}

a{
	color:black;
}

input{
	padding:2%;
	background:#ffffff;
	border: 2px solid;
	border-color:#A7B6E4;
	border-radius:4px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size:1.05em;
	color:#000000;
	margin:1%;
}

#form-wrapper{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-top:-2%;
	background-color: #C7D1F0;
	padding:3px;
	padding-top:1%;
	padding-bottom:2%;
	border-radius:10px;

}